version: "3.8"
services:
  eureka-server:
    build: ./eureka-server
    ports:
      - "8761:8761"
    environment:
      - EUREKA_CLIENT_REGISTER-WITH-EUREKA=false
      - EUREKA_CLIENT_FETCH-REGISTRY=false

  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    environment:
      - EUREKA_CLIENT_SERVICE-URL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server

  products-service:
    build: ./products-service
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
      - EUREKA_CLIENT_SERVICE-URL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server

  orders-service:
    build: ./orders-service
    ports:
      - "8082:8082"
    environment:
      - SERVER_PORT=8082
      - EUREKA_CLIENT_SERVICE-URL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server
